*{
    margin: 0;
    text-decoration: none;
}

#cabecalho {
    width: 100%;
    height: 120px;
    background-color: #0f0f0f;
    text-align: center;
}

.container {
    width: 1140px;
    margin: auto;
}

#logo img{
    padding-top: 10px;
}

